homeautomation/nodered/alert.json
[{"id":"7ca0de33.0d95d","type":"tab","label":"Alert","disabled":false,"info":""},{"id":"7d73c168.a831e","type":"inject","z":"7ca0de33.0d95d","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["7b5df75e.12ed28"]]},{"id":"7b5df75e.12ed28","type":"mqtt out","z":"7ca0de33.0d95d","name":"","topic":"home/alarm","qos":"","retain":"","broker":"afc0c1a6.f7b4d","x":560,"y":320,"wires":[]},{"id":"654aa076.46558","type":"inject","z":"7ca0de33.0d95d","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":380,"wires":[["7b5df75e.12ed28"]]},{"id":"5e948754.9340f8","type":"inject","z":"7ca0de33.0d95d","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":520,"wires":[["de9a6be1.d61078"]]},{"id":"304505c2.ad394a","type":"inject","z":"7ca0de33.0d95d","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["de9a6be1.d61078"]]},{"id":"de9a6be1.d61078","type":"mqtt out","z":"7ca0de33.0d95d","name":"light","topic":"alarm/light","qos":"0","retain":"","broker":"afc0c1a6.f7b4d","x":500,"y":540,"wires":[]},{"id":"85521134.f8e17","type":"link in","z":"7ca0de33.0d95d","name":"","links":["f17aca57.d362c8"],"x":280,"y":200,"wires":[["7b5df75e.12ed28"]]},{"id":"afc0c1a6.f7b4d","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.0.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]

