homeautomation/nodered/garage.json
[{"id":"e6d1e609.c1df38","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"14afc78c.b75b38","type":"mqtt in","z":"e6d1e609.c1df38","name":"littleDoor","topic":"garage/littleDoor","qos":"2","broker":"afc0c1a6.f7b4d","x":190,"y":100,"wires":[["6a46b791.e36698","944fb685.d6c6b8","c9a303bc.533b9"]]},{"id":"4188ec09.e5b644","type":"mqtt in","z":"e6d1e609.c1df38","name":"bigDoor","topic":"garage/bigDoor","qos":"0","broker":"afc0c1a6.f7b4d","x":170,"y":200,"wires":[["7e960ebb.4a32f","4a720ca2.513fa4","c9a303bc.533b9"]]},{"id":"bdb3747.7e24988","type":"mqtt in","z":"e6d1e609.c1df38","name":"outside Temp","topic":"garage/outsideTemperature","qos":"0","broker":"afc0c1a6.f7b4d","x":190,"y":300,"wires":[["143be60d.7357aa"]]},{"id":"6a46b791.e36698","type":"debug","z":"e6d1e609.c1df38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":40,"wires":[]},{"id":"7e960ebb.4a32f","type":"debug","z":"e6d1e609.c1df38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":260,"wires":[]},{"id":"143be60d.7357aa","type":"debug","z":"e6d1e609.c1df38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":300,"wires":[]},{"id":"727d7d92.378064","type":"inject","z":"e6d1e609.c1df38","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["e720a2ce.44eb2"]]},{"id":"91359486.c5c978","type":"inject","z":"e6d1e609.c1df38","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["e720a2ce.44eb2"]]},{"id":"e720a2ce.44eb2","type":"mqtt out","z":"e6d1e609.c1df38","name":"light","topic":"garage/light","qos":"0","retain":"","broker":"afc0c1a6.f7b4d","x":380,"y":440,"wires":[]},{"id":"4a720ca2.513fa4","type":"ui_text","z":"e6d1e609.c1df38","group":"6a65ae4b.aa72e","order":0,"width":0,"height":0,"name":"","label":"Big Door","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":220,"wires":[]},{"id":"944fb685.d6c6b8","type":"ui_text","z":"e6d1e609.c1df38","group":"6a65ae4b.aa72e","order":0,"width":0,"height":0,"name":"","label":"Little Door","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":80,"wires":[]},{"id":"f17aca57.d362c8","type":"link out","z":"e6d1e609.c1df38","name":"","links":["85521134.f8e17"],"x":795,"y":160,"wires":[]},{"id":"c9a303bc.533b9","type":"function","z":"e6d1e609.c1df38","name":"Door Open Alarm","func":"// if either door is open, after 11pm and before 6am \n// sound an alarm.\n\ncontext.hour = context.hour || 12;\ncontext.bigDoor = context.bigDoor || 'closed';\ncontext.littleDoor = context.littleDoor || 'closed';\n\nif (msg.topic === 'garage/bigDoor') {\n  context.bigDoor = msg.payload;\n} else if (msg.topic === 'garage/littleDoor') {\n  context.littleDoor = msg.payload;\n} else if (msg.topic === 'time/ISO-8601') {\n    context.hour = msg.payload.hour;\n}\n\n// check the status, to know if alarm should be on\nif (((context.bigDoor === 'open') || (context.littleDoor === 'open')) &&\n    (context.hour > 22) || (context.hour < 6)) {\n    // msg.payload = \"on \" + context.therm + \" \" + context.temp;\n    msg.payload = 'on';\n} else {\n    msg.payload = 'off';\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["f17aca57.d362c8"]]},{"id":"afc0c1a6.f7b4d","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.0.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a65ae4b.aa72e","type":"ui_group","z":"","name":"Garage","tab":"fd302bdc.05d2a8","disp":true,"width":"6","collapse":false},{"id":"fd302bdc.05d2a8","type":"ui_tab","z":"","name":"Garage","icon":"dashboard"}]
