homeautomation/nodered/globalTime.json
[{"id":"3f3306c4.9d09ca","type":"tab","label":"Current Time","disabled":false,"info":""},{"id":"3f92e6a4.83c98a","type":"inject","z":"3f3306c4.9d09ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["f847af18.b68c8"]]},{"id":"3f60a4b0.a9178c","type":"mqtt out","z":"3f3306c4.9d09ca","name":"","topic":"time/ISO-8601","qos":"","retain":"","broker":"afc0c1a6.f7b4d","x":520,"y":260,"wires":[]},{"id":"f847af18.b68c8","type":"function","z":"3f3306c4.9d09ca","name":"Convert time","func":"// Create a new JavaScript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\n\nvar currentUtcTime = new Date(); // This is in UTC\nvar date = new Date(currentUtcTime.toLocaleString('en-US', { timeZone: 'America/Chicago' }));\n\n// Hours part from the timestamp\nvar hours = \"0\" + date.getHours();\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\nvar year = date.getYear()+1900;\nvar month = \"0\"+(date.getMonth()+1);\nvar day = \"0\"+date.getDate();\n// Will display time in 21:30:23 format\n\nvar timeStr = year+\"-\"+month.substr(-2)+\"-\"+day.substr(-2)+\"T\"+\n              hours.substr(-2) + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\nmsg.payload = {\"CDTstring\" : timeStr,\n               \"hour\": date.getHours(),\n               \"minute\": date.getMinutes(),\n               \"second\": date.getSeconds(),\n               \"year\": date.getYear()+1900,\n               \"month\": date.getMonth()+1,\n               \"day\" : date.getDate()};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["3f60a4b0.a9178c","3206755e.7dfd6a"]]},{"id":"3206755e.7dfd6a","type":"debug","z":"3f3306c4.9d09ca","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":360,"wires":[]},{"id":"afc0c1a6.f7b4d","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.0.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]