homeautomation/nodered/heaterFlow.json
[{"id":"1a4e94fb.d17ccb","type":"tab","label":"Heater","disabled":false,"info":""},{"id":"9183a2fa.db90d","type":"inject","z":"1a4e94fb.d17ccb","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":580,"wires":[["9a073fed.db7e4"]]},{"id":"e6bf7cb8.6630b","type":"inject","z":"1a4e94fb.d17ccb","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["9a073fed.db7e4"]]},{"id":"5fd2bf1.632364","type":"mqtt out","z":"1a4e94fb.d17ccb","name":"Light","topic":"heater/light","qos":"0","retain":"","broker":"afc0c1a6.f7b4d","x":370,"y":580,"wires":[]},{"id":"3ef244a8.6f695c","type":"inject","z":"1a4e94fb.d17ccb","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["badbad32.ec896"]]},{"id":"6d5fa987.22bc58","type":"inject","z":"1a4e94fb.d17ccb","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["badbad32.ec896"]]},{"id":"badbad32.ec896","type":"mqtt out","z":"1a4e94fb.d17ccb","name":"Gas","topic":"heater/gas","qos":"0","retain":"false","broker":"afc0c1a6.f7b4d","x":750,"y":180,"wires":[]},{"id":"f89db5ca.637ce8","type":"mqtt in","z":"1a4e94fb.d17ccb","name":"","topic":"heater/state","qos":"0","broker":"afc0c1a6.f7b4d","x":130,"y":140,"wires":[["5e279026.5f7b3","d37eeb4f.c2e448"]]},{"id":"5e279026.5f7b3","type":"debug","z":"1a4e94fb.d17ccb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":140,"wires":[]},{"id":"d37eeb4f.c2e448","type":"ui_switch","z":"1a4e94fb.d17ccb","name":"Heater Status","label":"heater","group":"6a65ae4b.aa72e","order":5,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"heater/gas","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":420,"y":180,"wires":[["badbad32.ec896"]]},{"id":"35233931.e64706","type":"ui_gauge","z":"1a4e94fb.d17ccb","name":"Temperature","group":"6a65ae4b.aa72e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degrees","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"50","seg2":"65","x":390,"y":480,"wires":[]},{"id":"be729a02.59a308","type":"mqtt in","z":"1a4e94fb.d17ccb","name":"","topic":"sunroom/temperature","qos":"0","broker":"afc0c1a6.f7b4d","x":120,"y":500,"wires":[["bbca2c21.9d3bd","35233931.e64706","1dc0abb9.21cf94"]]},{"id":"bbca2c21.9d3bd","type":"debug","z":"1a4e94fb.d17ccb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":540,"wires":[]},{"id":"6720899.4990778","type":"ui_slider","z":"1a4e94fb.d17ccb","name":"","label":"Thermostat","group":"6a65ae4b.aa72e","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"50","max":"99","step":1,"x":410,"y":400,"wires":[["9120a262.d3cc3","2f7a70cd.50c62","be5e8843.f549e8"]]},{"id":"be5e8843.f549e8","type":"mqtt out","z":"1a4e94fb.d17ccb","name":"","topic":"heater/thermostat","qos":"0","retain":"","broker":"afc0c1a6.f7b4d","x":650,"y":380,"wires":[]},{"id":"9120a262.d3cc3","type":"ui_text","z":"1a4e94fb.d17ccb","group":"6a65ae4b.aa72e","order":3,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":610,"y":500,"wires":[]},{"id":"1dc0abb9.21cf94","type":"function","z":"1a4e94fb.d17ccb","name":"Check Thermostat","func":"// if temp is less than thermostat turn on heater.\ncontext.temp = context.temp || 0.0;\ncontext.therm = context.therm || 70.0;\n\n if (msg.topic === 'sunroom/thermostat') {\n  context.therm = parseFloat(msg.payload);\n} else if (msg.topic === 'sunroom/temperature') {\n  context.temp = parseFloat(msg.payload);\n}\n\nif (context.temp < context.therm) {\n    // msg.payload = \"on \" + context.therm + \" \" + context.temp;\n    msg.payload = \"on\"\n} else {\n    //msg.payload = \"off \" + context.therm + \" \" + context.temp;\n    msg.payload = \"off\";\n}\n//msg.topic=\"heater/gas\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["2c27347f.355b8c","badbad32.ec896"]]},{"id":"5cbc6150.0f99e","type":"mqtt in","z":"1a4e94fb.d17ccb","name":"","topic":"sunroom/thermostat","qos":"0","broker":"afc0c1a6.f7b4d","x":110,"y":380,"wires":[["6720899.4990778","9120a262.d3cc3","1dc0abb9.21cf94"]]},{"id":"50eb024e.40294c","type":"ui_text","z":"1a4e94fb.d17ccb","group":"6a65ae4b.aa72e","order":4,"width":"2","height":"1","name":"filler","label":"","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":600,"wires":[]},{"id":"2f7a70cd.50c62","type":"debug","z":"1a4e94fb.d17ccb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":440,"wires":[]},{"id":"2c27347f.355b8c","type":"debug","z":"1a4e94fb.d17ccb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"9a073fed.db7e4","type":"ui_switch","z":"1a4e94fb.d17ccb","name":"","label":"light","group":"6a65ae4b.aa72e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":250,"y":580,"wires":[["5fd2bf1.632364"]]},{"id":"d274783d.284e98","type":"mqtt in","z":"1a4e94fb.d17ccb","name":"","topic":"heater/light","qos":"0","broker":"afc0c1a6.f7b4d","x":120,"y":60,"wires":[["90b41b6.ddf5ce8"]]},{"id":"90b41b6.ddf5ce8","type":"debug","z":"1a4e94fb.d17ccb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":40,"wires":[]},{"id":"afc0c1a6.f7b4d","type":"mqtt-broker","z":"","name":"localhost","broker":"192.168.0.35","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a65ae4b.aa72e","type":"ui_group","z":"","name":"Sunroom","tab":"5cd42809.527028","disp":true,"width":"6","collapse":false},{"id":"5cd42809.527028","type":"ui_tab","z":"","name":"Sunroom","icon":"dashboard"}]